{
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "semi": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "singleQuote": false,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore"
}
